In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [6]:
x=df.iloc[:,1:4].values
y=df.iloc[:,-1].values

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler=StandardScaler()

In [10]:
x=scaler.fit_transform(x)
x

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [11]:
from sklearn.model_selection import train_test_split
x_train ,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [12]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()

In [13]:
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [14]:
y_pred=clf.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7875

In [18]:
param_dist={"criterion" :['gini','entropy'],'max_depth':[1,2,3,4,5,6,7,None]}

In [19]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(clf,param_grid=param_dist,cv=10,n_jobs=-1)

In [20]:
grid.fit(x_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, None]})

In [21]:
grid.best_estimator_

DecisionTreeClassifier(max_depth=2)

In [22]:
grid.best_params_

{'criterion': 'gini', 'max_depth': 2}

In [23]:
grid.best_score_

0.91875